node_modules/

.env
.env-development
.env-production
*.code-workspace
.*-test
*.yml

logs/*
npm-debug.log*
yarn-debug.log*
yarn-error.log*

dist/
public/

.vscode/
.vscode-test/

*.tgz
package-lock.json
